<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Recommendation: place status listeners towards the the top of the configuration file -->
    <!-- 屏蔽 logback 的启动信息 -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <!-- 设置日志内容编码 -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    
    <!-- 这里修改为 滚动日志处理器，可按日期分开记录 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 文件名的规则字符串 -->
			<fileNamePattern>logs/jar-run.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 保留 10 天，总大小不超过 3GB -->
			<maxHistory>10</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>
        
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file : %line] - %msg%n</pattern>
            <!-- 设置日志内容编码 -->
            <charset>UTF-8</charset>
        </encoder>
        
    </appender>
    
    <!-- TRACE | DEBUG | INFO | WARN | ERROR | ALL | OFF -->
    <root level="INFO">
        <!-- 如果是开发时，这里可以打开。因为不打开的话，终端是看不到输出信息的 -->
        <!-- <appender-ref ref="STDOUT" /> -->
        <appender-ref ref="FILE" />
    </root>
    
</configuration>